body {
  margin: 0;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $main-color_1;
  background: $background-gradient;
}
* {
  transition: all 0.4s ease-in-out;
}
.content {
  display: flex;
}
