h1 {
  font: 42px $secondary-font;
  letter-spacing: -0.03em;
}
h2 {
  font: 1.75em $primary-font;
}
h3 {
  font: 20px $secondary-font;
}
h4 {
  font: 17px $primary-font;
}
p {
  font: 1em $primary-font;
}
a {
  font: 1.09em $primary-font;
}
small {
  font: .815em $primary-font;
  font-weight: 300;
  color: $main-color_2;
}
span {
  text-transform: capitalize;
}
